name: Deploy Blog

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build
      env:
          OAUTH_GITHUB_CLIENT_ID: ${{ secrets.OAUTH_GITHUB_CLIENT_ID }}
          OAUTH_GITHUB_CLIENT_SECRET: ${{ secrets.OAUTH_GITHUB_CLIENT_SECRET }}
          PUBLIC_DECAP_CMS_SRC_URL: ${{ secrets.PUBLIC_DECAP_CMS_SRC_URL }}
          PUBLIC_DECAP_CMS_VERSION: ${{ secrets.PUBLIC_DECAP_CMS_VERSION }}
          UMAMI_API_KEY: ${{ secrets.UMAMI_API_KEY }}
          UMAMI_TRACKING_CODE: ${{ secrets.UMAMI_TRACKING_CODE }}

    # 将 SSH 密钥写入文件
    - name: Setup SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

    # 同步 dist 到服务器
    - name: Upload dist to server
      run: |
        rsync -avz --delete \
          ./dist/ \
          root@${{ secrets.SERVER_HOST }}:/var/www/blog/dist/

    # 使用绝对路径执行 pm2，避免找不到命令
    - name: Restart PM2
      run: |
        ssh root@${{ secrets.SERVER_HOST }} "\
          /root/.npm-global/bin/pm2 delete blog || true; \
          /root/.npm-global/bin/pm2 start /var/www/blog/entry.mjs --name blog \
        "
